@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

html {
  height: 100%;
}

body {
  border-radius: 24px;
  display: flex;
  height: 95%;
  margin: 0;
}

div#main {
  background-color: #fff;
  border: 5px solid #9e32d6;
  box-shadow: 0px 6px 0px #5f2080;
  border-radius: 24px;
  width: 100%;
}

div#main > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.block {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.user .button--user_pause {
  display: block;
}

.admin .button--user_pause {
  display: none;
}

.user .button--start,
.user .button--pause,
.user .button--reset {
  display: none;
  color: black;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1px;
}

button {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 6px 25px;
  transition: ease 0.3s;
}

input,
p {
  color: #313e47;
  font-size: 128px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  height: 110px;
  width: 156px;
  padding-bottom: 6px;
  border: none;
  caret-color: #9e32d6;
}

input {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
input:hover {
  background: #f2f2f2;
  border-radius: 15px;
  outline: none;
}

.inputs-group {
  display: flex;
  align-items: flex-end;
  padding-top: 18px;
}

.buttons-group {
  display: flex;
  align-items: center;
  height: 90px;
  gap: 15px;
}

:is(.button--start, .button--pause, .button--reset):hover {
  font-size: 19.7px;
  box-shadow: 0px 0px 0px transparent;
}

.button--start {
  background: #4bb958;
  box-shadow: 0px 3px 0px #4b5f58;
}

.button--pause {
  background: #eb3142;
  box-shadow: 0px 3px 0px #5f3142;
}

.button--user_pause {
  background: #eb3142;
}

.button--reset {
  background: #ffb136;
  box-shadow: 0px 3px 0px #845f25;
}

.timer {
  display: flex;
  align-items: flex-end;
}

.timer p {
  margin: 0;
  height: 130px;
  width: auto;
}

.min,
.sec {
  margin: 0;
  padding-left: 5px;
  font-size: 20px;
  height: fit-content !important;
  width: auto;
}

.min {
  padding-right: 20px;
}

.run-state p:nth-child(even),
.pause-state p:nth-child(even) {
  text-align: right;
  line-height: 1.18;
  width: 155px;
}

.run-state p:last-child,
.pause-state p:last-child {
  display: none;
}

.run-state,
.pause-state {
  flex-direction: column;
}

.user > div {
  justify-content: center;
  align-items: center;
}

.user form {
  flex-direction: row;
  padding-bottom: 5px;
}

.user .inputs-group {
  padding-top: 0;
}

.user .run-state .timer {
  height: 105px;
}

.user .run-state .buttons-group {
  display: none;
}

@media (max-width: 430px), (max-height: 173px) {
  button {
    font-size: 18px;
  }
  :is(.button--start, .button--pause, .button--reset):hover {
    font-size: 18.5px;
  }
  input, p {
    font-size: 80px;
    height: 70px;
    width: 100px;
  }
  .timer p {
    height: 80px;
  }
  .buttons-group {
    height: 65px;
  }
  .run-state p:nth-child(even),
  .pause-state p:nth-child(even) {
    width: 100px;
  }
}

@media screen and (max-width: 330px) {
  button {
    font-size: 16px;
    padding: 6px 20px;
  }
  :is(.button--start, .button--pause, .button--reset):hover {
    font-size: 16.5px;
  }
  input, p {
    font-size: 55px;
    height: 50px;
    width: 70px;
  }
  .timer p {
    height: 60px;
  }
  .min, .sec {
    font-size: 16px;
    padding-left: 0px;
  }
  .min {
    padding-right: 5px;
  }
  .buttons-group {
    height: 65px;
  }
  .run-state p:nth-child(even),
  .pause-state p:nth-child(even) {
    width: 70px;
  }
}
