html,
body {
  font: 16px "Helvetica Neue", arial, sans-serif;
  background-color: #313e47;
  margin: 0;
  height: 100%;
  user-select: none;
}

body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block {
  margin-bottom: 1rem;
  padding: 1rem;
}

.meters {
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.meters img {
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meter {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 0.25rem;
  overflow: hidden;
}

.meter__percent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9e32d6;
}

.question {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.question__text {
  font-size: 5vw;
}

.answers {
  display: flex;
  flex: 1;
}

.answer--no {
  background-color: #e200a4;
}

.answer--yes {
  background-color: #9e32d6;
}

.answer--neutral {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 32px;
}

.answer {
  flex: 1;
  padding: 1rem;
  color: #fff;
}

.question__image {
  margin-right: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.question__image img {
  height: 200px;
}

.death {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 6vw;
  color: #e200a4;
}
