:root {
  --color-primary: #9e32d6;
  --color-error: #e200a4;
  --card-fade-duration: 500ms;
  --stats-color-transition-duration: 300ms;
}

html,
body {
  font: 16px "Helvetica Neue", arial, sans-serif;
  margin: 0;
  height: 100%;
  user-select: none;
  overflow: hidden; /* hides scrollbars */
}

body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__side {
  flex-grow: 1;
}

.round {
  text-align: center;
  font-size: 2rem;
}

button {
  color: #fff;
  border-width: 0;
  cursor: pointer;
  background-color: var(--color-primary);
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.meters {
  margin-bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 32px;
}

.meters img {
  height: 32px;
}

.meter__icon {
  padding: 0.25rem;
}

.meter__progress {
  background-color: #fff;
  border-radius: 5px;
}

.game--started .meter__progress--grow .meter__percent,
.game--started .meter__progress--grow--big .meter__percent {
  background-color: green;
}

.game--started .meter__progress--shrink .meter__percent,
.game--started .meter__progress--shrink--big .meter__percent {
  background-color: red;
}

.meter__arrow {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-top: 5px;
  transition: opacity 0.3s ease, color 0s var(--stats-color-transition-duration); /* remove color after the opacity transition */
  opacity: 0;
  color: var(--color-primary);
}

.game--started .meter__progress--shrink.meter__arrow,
.game--started .meter__progress--shrink--big.meter__arrow {
  transition: opacity var(--stats-color-transition-duration) ease, color 0s;
  color: red;
  opacity: 1;
}

.game--started .meter__progress--grow.meter__arrow,
.game--started .meter__progress--grow--big.meter__arrow {
  transition: opacity var(--stats-color-transition-duration) ease, color 0s;
  color: green;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .meters {
    width: 200px;
  }
  .meter__icon {
    width: 32px;
    height: 32px;
  }
  .meters img {
    height: 32px;
  }
}

.meter {
  flex: 1;
}

.meter__label {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}
.meter__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meter__percent {
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-primary);
  transition: width 1s ease-in,
    background-color var(--stats-color-transition-duration) ease-in;
}

.fade {
  transition: opacity var(--card-fade-duration) ease;
  opacity: 0;
}

.fade.fade--in {
  opacity: 1;
}

.question {
  display: flex;
  overflow: hidden;
  height: 200px;
}

.question__text-wrap {
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 4vw;
  overflow: hidden;
  position: relative;
}

.question__text {
  margin: 1vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.question__bearer {
  font-size: 2vw;
}

.answers {
  display: flex;
  flex: 1;
}

.screen {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  height: 75%;
}

#root {
  perspective: 600px;
  padding: 0 10vw;
}

.floor {
  display: flex;
  flex: 1;
  padding: 1vw;
  background-color: #dddddd;
  transform: rotateX(45deg);
  transform-origin: top;
}

.answer--no {
  background-color: var(--color-error);
}

.answer--yes {
  background-color: var(--color-primary);
}

.answer--neutral {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 32px;
}

.answer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.answer__zone {
  flex: 1;
  padding: 30px;
}

.answer__text-outer-container {
  flex: 1;
  display: flex;
  position: relative;
  padding: 30px;
  flex-direction: column;
}

.answer__text-inner-container {
  height: 16vh;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
}

.answer__text-background {
  height: 100%;
  width: 100%;
}

.answer__text-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer__text-inner-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: 0;
}

.answer__votes-missing {
  text-align: center;
  margin-bottom: -16px;
  margin-top: 16px;
  height: 18px;
}

.answer__text {
  text-align: center;
  z-index: 1;
  height: 70%;
  width: 80%;
}

.question__image {
  margin-right: 1rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 15%;
  flex-shrink: 0;
}

.question__image_img {
  background-image: var(--url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  content: " ";
  width: 100%;
}

.end {
  font-size: 6vw;

  width: 100%;
  color: #fff;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.end__message {
  color: var(--color-error);
  margin-top: 2rem;
  height: calc(100% - 10rem);
  margin-left: 4rem;
  margin-right: 4rem;
}

.end__restart_button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* this class is dynamically added by textFit */
.textFitAlignVert {
  max-height: 100%;
}

.game--ended .red-glow {
  --glow-color: red;
  animation: glow 1.5s;
  animation-iteration-count: infinite;
}

@keyframes glow {
  0% {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 15px 2px;
  }
  50% {
    box-shadow: var(--glow-color) 0px 0px 15px 2px;
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 15px 2px;
  }
}
