html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.deleteButton {
  background-color: #9e32d6;
  border: none;
  color: #fff;
}

.deleteButton:hover {
  background-color: #ba6be1;
  color: #fff;
}
